<div class="panel panel-inverse" data-sortable-id="table-basic-4" id="result">
    <div class="panel-body">
        <table class="table table-striped table-bordered" style="font-size: 12px !important;">
            <thead>
            <tr>
                <th style="width:50px">选择</th>
                <th>ID</th>
                <th>姓名</th>
            </tr>
            </thead>
            <tbody>
            <#if staffList?has_content && staffList?exists &&staffList?size gt 0>
                <#list staffList as ct>
                <tr>
                    <td>
                        <input type="radio" value="${ct.id}" name="id" onclick="checkOne()"
                            <#if selectStaffIds?exists && selectStaffIds?seq_contains(ct.id+"") >
                               checked
                            </#if>
                        >
                    </td>
                    <td name="activityIdTD">${ct.id}<br></td>
                    <td name="activityNameTD">${ct.realName}<br>
                        <input type="hidden" name="staffNameTD" value="${ct.realName}"/>
                        <input type="hidden" name="staffIdTD" value="${ct.id}"/>
                    </td>
                </tr>
                </#list>
            <#else>
            <tr class="gradeA even" role="row">
                <td colspan="11" class="text-center">没有符合条件的数据！</td>
            </tr>
            </#if>
            </tbody>
        </table>
    </div>
</div>