body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #444444;
}
.clear:after{content: "";clear: both}
.fl {
    float: left
}

.fr {
    float: right
}
.small-btn{
    width:55px;
    display: block;
    margin:5px;
    height: 22px;
    padding-top: 5px;
}
.small-btn .fa{
    margin-right:2px;
}
/*字体对其*/
.base-font{width: 4em}/*这个值是看最长能显示几个文字，如x，则为x em；添加在文字的容器的父容器上*/
.w2{letter-spacing:2em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */ margin-right:-2em; /*同上*/}
.w3{letter-spacing:0.5em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-3）/(3-1)=0.5em */ margin-right:-0.5em; /*同上*/ }
.inputs{padding: 6px 12px;font-size: 14px;line-height: 1.42857143; color: #555; background-color: #fff;background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.marL10{margin-left: 10px}
.clear:after{content: "";clear: both}
.horizontal-list{list-style: none}
.horizontal-list li{float: left}
a {
    color: #333333;
    text-decoration: none
}

p, h1, h2, h3, h4, input {
    margin: 0;
    padding: 0;
}

.clear:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

/*字体对其*/
.base-font {
    width: 4em
}

.w2 {
    letter-spacing: 2em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
    margin-right: -2em; /*同上*/
}

.w3 {
    letter-spacing: 0.5em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-3）/(3-1)=0.5em */
    margin-right: -0.5em; /*同上*/
}

/*箭头*/
.arrow:before, .arrow:after {
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    right: 1px;
    content: ' '
}

.focus-num {
    color:#E53333;
}

.arrow:before {
    border-left-color: #666666;
    right: 0px;
}

.arrow-down:before, .arrow-down:after {
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    content: ' ';
    top: 11px;
}

.arrow-down:before {
    border-top-color: #b0b0b0;
    top: 13px;
}

.arrow-up:before, .arrow-up:after {
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    content: ' ';
    top: 7px;
}

.arrow-up:before {
    border-bottom-color: #b0b0b0;
    top: 5px;
}

.content .left {
    width: 30%;
}

.content .right {
    width: 70%
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%
}
.result-table {
    width: 100%;
}
.no-date {
    border-top: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
}
.page-index li{
    margin-left: 10px;
}
.group-data{
    background-color: #101010;
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
}
.group-data a{
    font-size:12px;
    white-space: normal!important;
}
.group-data .row{
    line-height: 25px;
    word-break: break-all;
    display: block;
}
.group-data .first-row{
    color:orangered;
}
.group-data .second-row{
    color:orange;
}
@media (max-width: 1328px){
    .product-header{
        width: 100%;
    }
    .product-header>div{
        width: 80%;
        margin-bottom: 5px;
    }
    .product-header>label{
    width: 10%;
        text-align: left;
    }
}