<h1 class="page-header">
    <small>Banner管理</small>
</h1>
<hr/>
<div class="panel panel-inverse" data-sortable-id="form-stuff-5">
    <div class="panel-heading">
        <h4 class="panel-title">Banner查询</h4>
    </div>
    <div class="panel-body">
        <form id="bannerForm" name="bannerForm" method="post" class="form-inline">
            <div class="form-group m-r-10">
                <input type="text" class="form-control" name="LIKE_title" value="${params.LIKE_title}"
                       placeholder="标题">
            </div>
            <div class="form-group m-r-10">
                <select class="form-control" name="EQ_status" id="EQ_status">
                    <option value="">状态</option>
                     <option value="A" <#if params.EQ_status== "A"> selected</#if>>激活</option>
                     <option value="D" <#if params.EQ_status== "D"> selected</#if>>禁用</option>
                </select>
            </div>
            <button type="button" class="btn btn-sm btn-success m-r-5"
                    onclick="postDataByForm('backend/banner/queryList', 'displayArea', 'bannerForm')"><i class="fa fa-search"></i>查询
            </button>
            <button type="button" class="btn btn-sm btn-danger m-r-5"
               onclick="getData('${rc.contextPath}/backend/banner/add', 'displayArea')"><i class="fa fa-plus"></i>新增</button>
        </form>
    </div>
</div>
<hr/>
<div class="panel panel-inverse" data-sortable-id="table-basic-4">
    <div class="panel-heading">
        <h4 class="panel-title">Banner列表</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>图片</th>
                <th>描述</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <#if paginationResponse?has_content && paginationResponse.content?exists && paginationResponse.content?size gt 0>
                <#list paginationResponse.content as ct>
                    <tr>
                        <td>${ct.id}</td>
                        <td>${ct.title}</td>
                        <td><img class="m-r-20 m-b-10" src="${imagePath}${ct.image}" style="border:1px solid #ccc;border-radius:5px;width:120px;height:70px;"></td>
                        <td>${ct.description}</td>
                        <td> <#if ct.status == "A">已激活
                            <#else>已禁用
                           </#if>
                        </td>
                        <td>${ct.createTime}</td>
                        <td>
                            <a class="label label-success small-btn" href="javascript:getData('${rc.contextPath}/backend/banner/editInit/${ct.id}','displayArea')"><i class="fa fa-edit"></i>编辑</a>
                        </td>
                    </tr>
                </#list>
            <#else>
            <tr class="gradeA even" role="row">
                <td colspan="12" class="text-center">没有符合条件的数据！</td>
            </tr>
            </#if>
        </table>
    </div>
</div>

<!-- 分页组件 -->
<@sp.pagination recordBean=paginationResponse action="${rc.contextPath}/backend/banner/queryList" formName="bannerForm"/>