<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuint.repository.mapper.MtCommissionLogMapper">
    <update id="confirmCommissionLog">
        update mt_commission_log set STATUS = 'B',OPERATOR = #{operator} where SETTLE_UUID = #{uuid}
        <if test="merchantId != null and merchantId > 0">
            AND MERCHANT_ID = #{merchantId}
        </if>
    </update>

    <update id="cancelCommissionLog">
        update mt_commission_log set STATUS = 'A',OPERATOR = #{operator} where SETTLE_UUID = #{uuid}
        <if test="merchantId != null and merchantId > 0">
            AND MERCHANT_ID = #{merchantId}
        </if>
    </update>

    <select id="getTotalCommissionAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(AMOUNT), 0) FROM mt_commission_log
        WHERE USER_ID = #{userId} AND STATUS IN ('A', 'B')
    </select>

    <select id="getCommissionOrderCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT ORDER_ID) FROM mt_commission_log
        WHERE USER_ID = #{userId} AND STATUS = 'A'
    </select>
</mapper>
