<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuint.repository.mapper.MtSettingMapper">
    <select id="querySettingByType" resultType="com.fuint.repository.model.MtSetting">
        select * from mt_setting t where t.TYPE = #{type}
        <if test="merchantId != null and merchantId > 0">
            and (t.MERCHANT_ID = #{merchantId} or t.MERCHANT_ID = 0)
        </if>
        <if test="storeId != null and storeId > 0">
            and (t.STORE_ID = #{storeId} or t.STORE_ID = 0)
        </if>
    </select>

    <select id="querySettingByName" resultType="com.fuint.repository.model.MtSetting">
        select * from mt_setting t where t.NAME = #{name} limit 1
        <if test="merchantId != null and merchantId > 0">
            and (t.MERCHANT_ID = #{merchantId} or t.MERCHANT_ID = 0)
        </if>
        <if test="storeId != null and storeId > 0">
            and (t.STORE_ID = #{storeId} or t.STORE_ID = 0)
        </if>
    </select>
</mapper>
