<div class="panel panel-inverse" data-sortable-id="table-basic-4">
    <div class="panel-heading" style="background: #fff;">
        <div class="row">
            <div class="span6">
                <ul class="nav nav-tabs" style="margin-right: -6px;">
                    <li id="tab_1" onclick="sendLogTab(1);" class="active"><a href="javascript:;">单用户发券</a></li>
                    <li id="tab_2" onclick="sendLogTab(2);"><a href="javascript:;">批量发券</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 10%">记录ID</th>
                <th style="width: 10%">操作人</th>
                <th style="width: 10%">用户手机</th>
                <th style="width: 10%">发放分组ID</th>
                <th style="width: 10%">发放分组名称</th>
                <th style="width: 10%">发放套数</th>
                <th style="width: 10%">操作时间</th>
                <th style="width: 10%">状态</th>
                <th style="width: 10%">操作</th>
            </tr>
            </thead>
            <tbody>
            <#if paginationResponse.content?has_content && paginationResponse.content?exists && paginationResponse.content?size gt 0>
                <#list paginationResponse.content as ct>
                <tr>
                    <td> ${ct.id}</td>
                    <td> ${ct.operator}</td>
                    <td> ${ct.mobile}</td>
                    <td> ${ct.groupId}</td>
                    <td> ${ct.groupName}</td>
                    <td>${ct.sendNum}</td>
                    <td> ${ct.createTime}</td>
                    <td>
                        <#if ct.status == "D">
                        全部作废
                        <#elseif ct.status == "B">
                        部分作废
                        <ul class="" style="list-style-type:none;padding-left: 0px;">
                            <li class="dropdown" >
                                <a href="javascript:;" data-toggle="dropdown">
                                    <span class="label label-success" title="点击查看统计数据">统计数据</span>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft" style="background-color: #101010;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6 ">
                                    <li>
                                        <a href="javascript:;" style="white-space: normal!important;">
                                            <span style="color:orangered">作废成功：${ct.removeSuccessNum}张</span>
                                            <span style="color:orangered;word-break: break-all;display: block;">作废失败：${ct.removeFailNum}张</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <#else>
                        正常
                        </#if>
                    </td>
                    <td>
                        <#if ct.status == "D">
                         -
                        <#elseif ct.status == "B">
                        -
                        <#else>
                        <a class="label label-danger small-btn" href="javascript:removeUserCoupon('${ct.id}')" title="作废所有券"><i class="fa fa-trash" ></i>全部作废</a></br>
                        </#if>
                    </td>
                </tr>
                </#list>
            <#else>
            <tr class="gradeA even" role="row">
                <td colspan="9" class="text-center">没有符合条件的数据！</td>
            </tr>
            </#if>
            </tbody>
        </table>
        <!-- 分页组件 -->
        <!-- recordBean 分页查询结果Bean  action 分页请求URL formName 分页需要的查询参数的表单名称 -->
    <@sp.pagination recordBean=paginationResponse action="${rc.contextPath}/backend/sendLog/queryList"
    area="activityGroupList" formName="activityGroupForm"/>
    </div>
</div>