<h1 class="page-header">
    <small>日志操作管理</small>
</h1>
<hr/>
<div class="panel panel-inverse" data-sortable-id="form-stuff-5">
    <div class="panel-heading">
        <h4 class="panel-title">日志查询</h4>
    </div>
    <div class="panel-body">
        <form id="logForm" name="logForm" method="post" class="form-inline">
            <div class="form-group m-r-10">
                <input type="text" class="form-control" name="LIKE_acctName" value="${LIKE_acctName}"
                       placeholder="操作人">
            </div>
            <button type="button" class="btn btn-sm btn-success m-r-5"
                    onclick="postDataByForm('log/query','displayArea','logForm')"><i class="fa fa-search"></i>查 询
            </button>
        </form>
    </div>
</div>
<hr/>
<div class="panel panel-inverse" data-sortable-id="table-basic-4">
    <div class="panel-heading">
        <h4 class="panel-title">日志列表</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>时间</th>
                <th>耗时</th>
                <th>IP地址</th>
                <th>操作</th>
                <th>请求URL</th>
                <th>操作账户</th>
                <th>浏览器</th>
            </tr>
            </thead>
            <tbody>
            <#if paginationResponse?has_content && paginationResponse.content?exists>
                <#list paginationResponse.content as ct>
                    <tr>
                        <td>${ct.actionTime}</td>
                        <td>${ct.timeConsuming}</td>
                        <td>${ct.clientIp}</td>
                        <td>${ct.module}</td>
                        <td>${ct.url}</td>
                        <td>${ct.acctName}</td>
                        <td>${ct.userAgent}</td>
                    </tr>
                </#list>
            </#if>
        </table>
    </div>
</div>

<!-- 分页组件 -->
<!-- recordBean 分页查询结果Bean
     action 分页请求URL
     formName 分页需要的查询参数的表单名称 -->
<@sp.pagination recordBean=paginationResponse action="${rc.contextPath}/log/query" formName="logForm"/>