<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>${systemName}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="icon" href="<@sp.static/>/assets/favicon.ico">
    <link href="<@sp.static/>/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="<@sp.static/>/assets/css/style.min.css" rel="stylesheet"/>
</head>
<body class="pace-top bg-white">

<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="<@mh.static/>/assets/img/login-bg/bg.png" data-id="login-cover-image" alt="" />
            </div>
            <div class="news-caption">
                <h4 class="caption-title"><i class="fa fa-diamond text-success"></i>FuInt会员营销系统</h4>
                <p>
                    欢迎使用FuInt会员营销系统，您的卡券、预存卡、集次卡等会员营销小管家！
                </p>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin login-header -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> ${systemName}
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end login-header -->
            <!-- begin login-content -->
            <div class="login-content">
                <form action="${rc.contextPath}/login" method="POST" id="loginAction" name="loginAction" class="margin-bottom-0">
                    <label style="font-size:14px;padding: 5px;color: #FF0000 ">${loginError}</label>
                    <div class="form-group m-b-15">
                        <input type="text" name="username" id="username" class="form-control input-lg" value="fuint" placeholder="用户名"/>
                    </div>
                    <div class="form-group m-b-15">
                        <input type="password" id="password_text" class="form-control input-lg" placeholder="密码" value="123456" name="password_text"/>
                        <input type="hidden" id="password" placeholder="密码" value="" autocomplete="off" name="password"/>
                    </div>
                    <div class="form-group m-b-15">
                        <img alt="验证码" src="${rc.contextPath}/captcha/getCode?math=" +Math.random()
                             width="118" height="46"
                             onclick="this.src='${rc.contextPath}/captcha/getCode?math='+Math.random()"/>
                        <div class="form-group m-b-20" style="float: left;margin-right:20px">
                            <input name="captcha" id="captcha" type="text" value="" placeholder="验证码" class="form-control input-lg"/>
                        </div>
                    </div>
                    <div class="login-buttons">
                        <button type="button" onclick="formSubmit();" class="btn btn-success btn-block btn-lg"><i class="fa fa-sign-in"></i>立即登录</button>
                    </div>
                    <hr />
                    <p class="text-center text-inverse">
                        &copy; FuInt All Right Reserved 2019 - 2021
                    </p>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end right-container -->
    </div>
<script src="<@sp.static/>/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="<@sp.static/>/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="<@sp.static/>/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="<@sp.static/>/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="<@sp.static/>/assets/js/apps.min.js"></script>
<script src="<@sp.static/>/js/custom/jsencrypt.min.js"></script>
<script>
    $(document).ready(function () {
        App.init();
    });
    function formSubmit() {
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey('${stringUtil.getPublicKey()}');
        var encrypted = encrypt.encrypt( $("#password_text").val());
        $("#password").val(encrypted);
        $("#password_text").val("");
        $("#loginAction").submit();
    }
</script>
</body>
</html>