<div class="panel panel-inverse" data-sortable-id="table-basic-4">
    <div class="panel-heading">
        <h4 class="panel-title">短信列表</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 15%">名称</th>
                <th style="width: 10%">代码</th>
                <th style="width: 45%">内容</th>
                <th style="width: 10%">状态</th>
                <th style="width: 15%">创建时间</th>
                <th style="width: 5%">操作</th>
            </tr>
            </thead>
            <tbody>
            <#if paginationResponse.content?has_content && paginationResponse.content?exists && paginationResponse.content?size gt 0>
                <#list paginationResponse.content as ct>
                <tr>
                    <td> ${ct.id}</td>
                    <td> ${ct.name}</td>
                    <td> ${ct.code}</td>
                    <td> ${ct.content}</td>
                    <td> <#if (ct.status == "A")>激活<#else>禁用</#if></td>
                    <td> ${ct.createTime}</td>
                    <td>
                        <a class="label label-success small-btn" href="javascript:getData('${rc.contextPath}/backend/smsTemplate/editInit/${ct.id}','displayArea')" title="编辑"><i class="fa fa-edit"></i>编辑</a>
                    </td>
                </tr>
                </#list>
            <#else>
            <tr class="gradeA even" role="row">
                <td colspan="8" class="text-center">没有符合条件的数据！</td>
            </tr>
            </#if>
            </tbody>
        </table>
        <!-- 分页组件 -->
        <!-- recordBean 分页查询结果Bean  action 分页请求URL formName 分页需要的查询参数的表单名称 -->
    <@sp.pagination recordBean=paginationResponse action="${rc.contextPath}/backend/smsTemplate/queryList"
    area="activityGroupList" formName="activityGroupForm"/>
    </div>
</div>