<link href="<@sp.static/>/assets/plugins/bootstrap/css/bootstrap.min.css?v=1.7.9" rel="stylesheet"/>
<link href="<@sp.static/>/assets/css/style.min.css?v=1.7.9" rel="stylesheet"/>
<link href="<@sp.static/>/css/style.css?v=1.7.9" rel="stylesheet"/>
<link href="<@sp.static/>/assets/plugins/datatables/css/data-table.css?v=1.7.9" rel="stylesheet"/>
<div style="overflow: auto; height: 450px; position: relative; margin: 8px;">
    <div class="panel panel-inverse" data-sortable-id="form-stuff-5">
        <div class="panel-body">
            <form class="form-horizontal do-confirm-form" id="confirmForm" name="confirmForm" action="" method="post">
                <input type="hidden" id="userCouponId" name="userCouponId" value="${couponInfo.id}">
                <input type="hidden" id="code" name="code" value="${couponInfo.code}">
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">卡券名称</label>
                    <div class="col-md-10 c-info">
                        <span class="form-control info name"><#if couponInfo.type == 'C'><span style="color: #ff5b57;font-weight: bold;">[优惠券]</span><#elseif couponInfo.type == 'P'><span style="color: #ff5b57;font-weight: bold;">[预存卡]</span><#else><span style="color: #ff5b57;font-weight: bold;">[集次卡]</span></#if>${couponInfo.name}</span>
                    </div>
                </div>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">卡券有效期</label>
                    <div class="col-md-10 c-info">
                        <span class="form-control info">${couponInfo.effectiveDate}</span>
                    </div>
                </div>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">会员信息</label>
                    <div class="col-md-10 c-info">
                        <span class="form-control info">${userInfo.name} <#if userInfo.mobile> ${userInfo.mobile[0..2]}*****${userInfo.mobile[userInfo.mobile?length-4..userInfo.mobile?length-1]}</#if> <#if userInfo.status == 'A'><span style="display: inline" class="status-active">正常</span><#else><span style="display: inline" class="status-disabled">禁用</span></#if></span>
                    </div>
                </div>
                <#if couponInfo.amount gt 0>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">卡券面额</label>
                    <div class="col-md-10 c-info">
                        <span class="form-control info">${couponInfo.amount}元</span>
                    </div>
                </div>
                </#if>
                <#if couponInfo.type == 'T'>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">核销次数</label>
                    <div class="col-md-10 c-info">
                        <span class="form-control info">总共<b style="color:green;">${couponInfo.useRule}</b>次，已核销<b style="color:red;">${couponInfo.confirmCount}</b>次</span>
                    </div>
                </div>
                </#if>
                <#if couponInfo.type == 'P'>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">卡券余额</label>
                    <div class="col-md-10 c-info">
                        <span class="form-control info">${couponInfo.balance}元</span>
                    </div>
                </div>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label"><span style="color:red;">*</span>核销金额</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control remark" id="amount" name="amount" placeholder="核销金额" value="">
                    </div>
                </div>
                </#if>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">核销备注</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control remark" id="remark" name="remark" placeholder="核销备注" value="">
                    </div>
                </div>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label">卡券说明</label>
                    <div class="col-md-10 c-info">
                        <div class="form-control info desc">
                            ${couponInfo.description}
                        </div>
                    </div>
                </div>
                <div class="form-group m-l-10">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                         <button type="button" id="submitButton" class="btn btn-sm btn-danger">确认核销</button>
                    </div>
                </div>
            </form>
     </div>
    </div>
</div>
<!-- jquery -->
<script src="<@sp.static/>/js/jquery/jquery-3.0.0.min.js?v=1.7.9" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/jquery/validation/jquery.validate.min.js?v=1.7.9" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js?v=1.7.9"></script>
<script src="<@sp.static/>/assets/plugins/bootstrap/js/bootstrap.min.js?v=1.7.9"></script>
<script src="<@sp.static/>/js/layer/layer.js?v=1.7.9" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/custom/util.js?v=1.7.9" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/custom/message.js?v=1.7.9" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/custom/send.js?v=1.7.9" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" language="JavaScript">
    $(function () {
        $('#submitButton').click(function () {
            layer.confirm('您确定要核销吗？', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    type: "POST",
                    data:{"userCouponId": $("#userCouponId").val(), "code": $("#code").val(), "amount": $("#amount").val(), "remark": $("#remark").val()},
                    url: "${rc.contextPath}/backend/doConfirm/doConfirm",
                    success: function (data) {
                        if (data.result) {
                            layer.alert("恭喜，核销成功！");
                            return;
                        } else {
                            layer.alert(data.msg);
                            return;
                        }
                    }
                })
                $.close();
            }, function () {
                $.close();
            });
        });
    })
</script>