<link href="<@sp.static/>/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://localhost:8080/fuint-coupon/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="<@sp.static/>/assets/css/style.min.css" rel="stylesheet"/>
<link href="<@sp.static/>/assets/plugins/datatables/css/data-table.css" rel="stylesheet"/>
<div style="overflow: auto; height: 450px; position: relative; margin: 8px;">
    <div class="panel panel-inverse" data-sortable-id="form-stuff-5">
        <div class="panel-body">
            <form id="groupForm" name="groupForm" method="post" class="form-inline">
                    <input style="width:160px;" type="text" placeholder="分组ID" class="form-control" name="EQ_id">
                    <input style="width:200px;" type="text" placeholder="分组名称" class="form-control" name="LIKE_name">&nbsp;
                    <button type="button" class="btn btn-success btn-sm"
                            onclick="postDataByForm('${rc.contextPath}/backend/couponGroup/quickSearch', 'groupList', 'groupForm');"><i class="fa fa-search"></i>查询
                    </button>
            </form>
        </div>
    </div>
    <div id="groupList"></div>
</div>
<button type="button" id="selectedButton" class="btn btn-sm btn-success m-5">确定</button>
<!-- jquery -->
<script src="<@sp.static/>/js/jquery/jquery-3.0.0.min.js" type="text/javascript" charset="UTF-8"></script>
<!-- jquery validate -->
<script src="<@sp.static/>/js/jquery/validation/jquery.validate.min.js" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="<@sp.static/>/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="<@sp.static/>/js/layer/layer.js" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/custom/util.js" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/custom/message.js" type="text/javascript" charset="UTF-8"></script>
<script src="<@sp.static/>/js/custom/send.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" language="javascript">
    $(function () {
        postDataByForm('${rc.contextPath}/backend/couponGroup/quickSearch?v='+Math.random(), 'groupList', 'groupForm');
    });

    $(function () {
        $('#selectedButton').click(function () {
            parent.$('#groupName').empty();
            parent.$('#groupId').empty();
            $("input:radio[name='id']:checked").each(function (index, elem) {
                var groupName = $(elem).parent().parent().find("input[name='NameTD']").val();
                var groupId = $(elem).parent().parent().find("input[name='IdTD']").val();
                var type = $(elem).parent().parent().find("input[name='TypeTD']").val();
                parent.$('#groupName').val(groupName);
                parent.$('#groupId').val(groupId);
                parent.$('#type').val(type);
                if (type == 'C') {
                    parent.$('#prestore-private').removeClass("show").addClass("hide");
                    parent.$('#coupon-private').removeClass("hide").addClass("show");
                } else if(type == 'P') {
                    parent.$('#coupon-private').removeClass("show").addClass("hide");
                    parent.$('#prestore-private').removeClass("hide").addClass("show");
                }
            });
            parent.layer.closeAll();
        });
    });
</script>